pkgbase = hyprcrd-git
	pkgdesc = Native Wayland & PipeWire Host for Google Chrome Remote Desktop on Hyprland
	pkgver = 1.0.0rc1.r0
	pkgrel = 1
	url = https://github.com/jxoesneon/hyprCRD
	install = hyprcrd.install
	arch = x86_64
	license = MIT
	license = custom:google-chrome
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = wayland-protocols
	makedepends = binutils
	makedepends = gcc
	makedepends = pkgconf
	depends = pipewire
	depends = xdg-desktop-portal-hyprland
	depends = sdbus-c++
	depends = libei
	depends = libxkbcommon
	depends = wayland
	depends = python
	depends = python-psutil
	provides = hyprcrd
	conflicts = hyprcrd
	source = git+https://github.com/jxoesneon/hyprCRD.git
	source = https://dl.google.com/linux/direct/chrome-remote-desktop_current_amd64.deb
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = hyprcrd-git
